.search_bar i {
  position: relative;
  left: 50px;
  top: 26px;
  color: lightcoral;
}
.search_bar input {
  margin: 5px 0px 0px 10px;
  padding: 5px 7px;
  width: 95%;
  text-align: center;
  background-color: #f1f2f3;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
}
.friends-list h1:nth-of-type(1) {
  margin-top: 5px;
  padding: 5px 0px 5px 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  width: 100vw;
  color: lightcoral;
}
.my_profile {
  margin: 10px 0px 0px 0px;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.my_profile .my_name {
  margin-left: 10px;
}
.my_profile #profile_pic {
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
}
