.top-header {
  background: #523737;
  color: white;
  width: auto;
  margin: -8px -8px 0px -8px;
}
.top-header .header_bar_top {
  font-size: 12px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.top-header .header_bar_bottom {
  padding: 0px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
}
.top-header .header_bar__column {
  width: 33%;
}
.friends-list {
  position: relative;
}
.number_of_friends {
  color: yellow;
}
